#containerEl {
  display: flex;
  justify-content: center;
  padding: 5px;

  height: 100%;
}

#navbarEl {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 70% 30%;

  background-color: green;
  width: 100%;
  height: 50px;
}

#btnsContainer {
  grid-column: 1;
  grid-row: 1;
  background-color: yellow;

  display: flex;
  justify-content: center;
}

.navBtn {
  background-color: orange;

  width: 5rem;
  height: 70%;
  margin-left: 2px;
  align-self: end;
}

.navBtn:hover {
  background-color: red;
}

#dropDownContainer {
  grid-column: 1;
  grid-row: 2;
  background-color: aliceblue;

  display: flex;
  justify-content: center;
}

.navBtnDropDown {
  background-color: red;

  visibility: hidden;
  width: 5rem;
  height: 6rem;
  margin-left: 2px;
}
